In [1]:
import pandas as pd
import seaborn as sns

test_scores = pd.read_excel('test_scores.xlsx')
test_scores.head()

           district    M    R    S
0        Fox Chapel  473  447  460
1         Tuscarora  536  450  493
2  Sautee Nacoochee  463  439  451
3         Fort Peck  559  448  504
4        North Pole  489  447  468